@import "src/styles";

.history {
  &__list {
    margin-bottom: 20px;
  }

  &._hidden {
    display: none;
  }

  &__button {
    @include animated;
    width: 100%;
    min-height: 51px;
    padding: 14px 22px;
    border: 1px solid $ico;
    background: $white;
    border-radius: 38px;
    box-shadow: 0 0 50px rgba(115, 124, 147, 0.04);
    text-align: center;

    @include media-md {
      display: block;
      width: 236px;
      margin: auto;
    }

    &__wrapper {
      width: 100%;
      padding: 0 10px;
    }

    &:hover {
      border-color: $text;
      color: $black-text;
    }
  }
}

.history__item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  padding: 15px;
  background: $background;
  border-radius: 22px;
  margin-bottom: 20px;

  @include media-md {
    padding: 20px 25px;
    border-radius: 30px;
  }

  @include media-xl {
    padding: 16px 18px 16px 25px;
    border-radius: 40px;
    column-gap: 20px;
  }

  &__button__details {
    order: 3;

    @include media-md {
      order: 1;
    }

    @include media-xl {
      order: initial;
    }
  }

  &__description {
    display: flex;
    width: 100%;
    flex-direction: row-reverse;
    justify-content: space-between;
    padding-bottom: 13px;
    border-bottom: 1px solid $dark-gray;
    margin-bottom: 15px;

    @include media-md {
      width: auto;
      flex-direction: row;
      align-items: center;
      justify-content: flex-start;
      padding-bottom: 0;
      border-bottom: none;
      margin-bottom: 0;
    }

    @include media-xl {
      min-width: 100px;
    }

    &__icon {
      width: 30px;
      height: 30px;
      margin-left: 30px;
      fill: $text;

      @include media-md {
        margin-right: 20px;
        margin-left: 0;
      }
    }

    &__text {
      display: flex;
      flex-direction: column;
    }

    &__title {
      margin-bottom: 4px;
      color: $black-text;
      font-size: 16px;
      line-height: 24px;

      @include media-xl {
        line-height: 22px;
      }
    }

    &__info {
      color: $gray-alt;
    }
  }

  &__price {
    width: 100%;
    margin-bottom: 5px;
    font-size: 16px;
    line-height: 24px;

    @include media-md {
      display: flex;
      width: auto;
      align-items: center;
      order: 1;
      padding: 4px 0;
      margin-right: 20px;
      margin-bottom: 0;
      font-size: 20px;
      line-height: 110%;
    }

    @include media-xl {
      position: relative;
      width: auto;
      min-width: 155px;
      height: 40px;
      justify-content: center;
      order: initial;
      padding: 0;
      margin-right: 0;
      font-size: 18px;
      line-height: 26px;

      &::before,
      &::after {
        position: absolute;
        top: 50%;
        width: 1px;
        height: 30px;
        background-color: $ico;
        content: "";
        transform: translateY(-50%);
      }

      &::before {
        left: 0;
      }

      &::after {
        right: 0;
      }
    }

    &__currency {
      @include media-md {
        font-size: 18px;
        line-height: 20px;
      }

      @include media-xl {
        font-size: 16px;
        line-height: 22px;
      }
    }
  }

  &__progress {
    display: flex;
    flex-direction: column;
    padding-bottom: 4px;
    margin-bottom: 20px;

    &:after {
      content: unset
    }

    @include media-md {
      order: 2;
      margin-bottom: 0;
    }

    @include media-xl {
      order: initial;
      padding: 3px 0 7px;
    }

    &__text {
      margin-bottom: 3px;
    }

    &__wrapper {
      position: relative;
      overflow: hidden;
      width: 100%;
      height: 4px;
      background-color: $ico;
      border-radius: 30px;
    }

    &__line {
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      background: $gradient;
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    order: 2;
    margin-right: 10px;

    > * {
      &:not(:last-child) {
        margin-right: 10px;
      }
    }

    @include media-md {
      flex-grow: initial;
      align-items: flex-start;
      order: initial;
      margin-left: auto;
    }

    @include media-xl {
      margin-right: 0;
    }
  }

  &__details {
    flex-basis: 100%;
    padding-bottom: 12px;
    border-bottom: 1px solid $dark-gray;
    margin-bottom: 20px;
    color: $black-text;

    @include media-md {
      flex-grow: 1;
      flex-shrink: 0;
      order: 3;
      padding-bottom: 0;
      padding-left: 20px;
      border-bottom: none;
      border-left: 1px solid $dark-gray;
      margin-bottom: 0;
      margin-left: 20px;
    }

    @include media-xl {
      flex-basis: 100%;
      padding-left: 50px;
      border-left: none;
      margin-top: 25px;
      margin-left: 0;
    }

    &__title {
      margin-right: 0.4em;
      font-size: 16px;
      line-height: 24px;
    }

    &__text {
      font-size: 16px;
      line-height: 24px;
    }

    &__link {
      display: inline-block;
      overflow: hidden;
      max-width: 180px;
      color: $dark-purple;
      font-size: 16px;
      line-height: 24px;
      text-overflow: ellipsis;
      vertical-align: bottom;
      white-space: nowrap;

      &:hover {
        text-decoration: underline;
      }
    }

    &._hidden {
      display: none;
    }
  }

  &__devider {
    display: none;

    @include media-md {
      display: block;
      width: 100%;
      order: 1;
      margin: 14px 0 15px;
      color: $ico;
    }

    @include media-xl {
      display: none;
    }
  }
}
