@import "src/styles";

.order {
  width: 321px;

  @include media-sm {
    width: 481px;
  }

  &__title {
    font-size: 18px;
    line-height: 28px;

    @include media-sm {
      font-size: 22px;
      line-height: 32px;
    }
  }

  &__form {
    &__group {
      display: flex;
      align-items: center;
      flex-wrap: wrap;

      &._no_flex {
        display: block;
      }

      &._flex-col {
        flex-direction: column;
        align-items: stretch;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }

    &__name {
      margin-right: 10px;
      color: $black-text;

      &._mb {
        margin-bottom: 6px;
      }
    }

    &__input {
      overflow: hidden;
      width: 250px;
      background-color: transparent;
      color: $text;
      font-size: 16px;
      font-weight: 500;
      line-height: 22px;
      text-overflow: ellipsis;
      white-space: nowrap;

      &:not(:last-child) {
        margin-right: 10px;
      }

      &._disabled {
        pointer-events: none;
      }
    }

    &__link {
      color: $dark-purple;
      font-size: 14px;
      line-height: 20px;
    }

    &__text {
      color: $text;
    }

    &__summary {
      display: flex;
      flex-direction: column;

      &__title {
        margin-bottom: -10px;
        color: $text;
      }

      &__number {
        margin-right: 0.3em;
        color: $dark;
        font-size: 38px;
        line-height: 70px;
      }

      &__currency {
        color: $dark;
        font-size: 30px;
        line-height: 70px;
      }

      &__input {
        display: none;
      }

      &__submit {
        position: relative;
        display: flex;
        min-height: 57px;
        align-items: center;
        justify-content: center;
        padding: 16px;
        margin-top: 10px;
        background: $gradient;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(136, 51, 255, 0.3);
        color: $white;

        &__icon {
          width: 24px;
          height: 24px;
          margin-right: 10px;
          fill: currentColor;
        }

        &::before {
          @include animated;
          position: absolute;
          z-index: 1;
          top: -2px;
          right: -2px;
          bottom: -2px;
          left: -2px;
          border: 3px solid transparent;
          border-radius: 8px;
          content: "";
        }

        &:hover {
          &::before {
            border-color: $purple;
          }
        }
      }
    }
  }
}
