@import 'src/styles';

.input {
  margin-bottom: 0;
}

.group {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;

  @include media-lg {
    width: 49%;
  }

  @include media-xl {
    width: 465px;
    flex-shrink: 0;
  }

  &:not(:last-child) {
    margin-bottom: 30px;

    @include media-lg {
      margin-right: 15px;
      margin-bottom: 0;
    }

    @include media-xl {
      margin-right: 30px;
    }
  }

  &__shorts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    gap: 10px;

    @include media-lg {
      margin-top: 13px;
    }

    &__item {
      flex: 1;

      &:nth-last-child(-n + 2) {
        flex-basis: 48%;

        @include media-sm {
          flex-basis: 0;
        }
      }
    }

    &__button {
      @include animated;
      width: 100%;
      min-width: 85px;
      padding: 4px 10px;
      border: 1px solid $dark-gray;
      background-color: $white;
      border-radius: 6px;
      box-shadow: 0 0 50px rgba(115, 124, 147, 0.04);

      &:hover {
        border-color: $text;
        background-color: $gray;
      }
    }
  }
}
