@import "src/styles";

.group {
  display: flex;
  width: 100%;
  flex-direction: column;
  flex-shrink: 0;

  &:not(:last-child) {
    margin-bottom: 30px;

    @include media-lg {
      margin-right: 15px;
      margin-bottom: 0;
    }

    @include media-xl {
      margin-right: 30px;
    }
  }

  &_submit {
    @include media-xl {
      flex-grow: 1;
    }
  }

  &__shorts {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 15px;
    gap: 10px;

    @include media-lg {
      margin-top: 13px;
    }

    &__item {
      flex: 1;

      &:nth-last-child(-n + 2) {
        flex-basis: 48%;

        @include media-sm {
          flex-basis: 0;
        }
      }
    }

    &__button {
      @include animated;
      width: 100%;
      min-width: 85px;
      padding: 4px 10px;
      border: 1px solid $dark-gray;
      background-color: $white;
      border-radius: 6px;
      box-shadow: 0 0 50px rgba(115, 124, 147, 0.04);

      &:hover {
        border-color: $text;
        background-color: $gray;
      }
    }
  }

  &__wrapper {
    flex-direction: column;

    @include media-sm {
      display: flex;
      align-items: flex-end;
    }
  }
}

.refill__group {
  width: 100%;
  margin-bottom: 20px !important;
}

.item {
  margin-bottom: 10px;
  z-index: 10;
}

.submit {
  width: 100%;
  margin-top: 10px;
  font-size: 14px;
  line-height: 20px;

  @include media-sm {
    margin-top: 0;
    margin-left: 10px;
  }

  @include media-xl {
    margin-left: 30px;
  }
}

.text {
  margin-bottom: 20px;
  line-height: 22px;

  &.__question {
    color: #fff;
  }
}

.balance__name {
  margin-right: 10px;
  color: $black-text;
  flex-shrink: 0;

  &._mb {
    margin-bottom: 6px;
  }
}

.prices {
  margin-bottom: 5px;

  &__last {
    margin-bottom: 20px;
  }
}
