@import "src/styles";

.faq_group {
  margin-bottom: 30px;

  &__heading {
    padding-left: 15px;
    margin-bottom: 12px;
    color: $dark;

    @include media-md {
      padding-left: 20px;
    }

    @include media-xl {
      padding-left: 30px;
      margin-bottom: 20px;
    }
  }
}
