@import "src/styles";

.promocode {
  &__button {
    margin-right: 0;
    position: relative;
    display: flex;
    min-height: 57px;
    flex: 1;
    align-items: center;
    justify-content: center;
    background: $gradient;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(136, 51, 255, 0.3);
    color: $white;
    margin-bottom: 10px;
    width: 100%;

    @include media-sm {
      margin-right: 10px;
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 0;

      @include media-sm {
        margin-right: 10px;
      }
    }

    &:not(:last-child) {
      margin-right: 10px;
    }

    &__icon {
      width: 24px;
      height: 24px;
      margin-right: 10px;
      fill: currentColor;
    }

    &__text {
      padding-right: 5px;
    }

    &::before {
      @include animated;
      position: absolute;
      z-index: 1;
      top: -2px;
      right: -2px;
      bottom: -2px;
      left: -2px;
      border: 3px solid transparent;
      border-radius: 8px;
      content: "";
    }

    &:hover {
      &::before {
        border-color: $purple;
      }
    }


    &_return {
      @include animated;
      width: 100%;
      min-height: 59px;
      border: 1px solid $ico;
      background-color: $white;
      border-radius: 8px;
      box-shadow: 0 0 50px rgba(115, 124, 147, 0.04);

      &:hover {
        border-color: $text;
        color: $black-text;
      }
    }
  }
}

.label {
  font-size: 16px;
  margin-bottom: 10px;
}

.text {
  margin-bottom: 20px;
  line-height: 20px;
}

.btn_wrap {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  :global {
    button {
      width: 50%;
      height: 60px;
    }
    button[class*="promocode__button_return"] {
      margin-right: 10px !important;
    }
    button[class*="promocode__button"] {
      margin-right: 0;
    }
  }
}

.link_block {
  display: flex;
  margin-bottom: 10px;
  margin-top: -10px;
  align-items: center;
}

.text {
  color: $green;
}