$white: #fff;
$background: #f9fafc;
$background-dark: #eff2f7;
$gray: #ecedf2;
$dark-gray: #dbe1ee;
$ico: #c3cad9;
$text: #6b7a99;
$black-text: #465575;
$dark: #2b3850;
$black: #22203f;
$dark-purple: #5703cc;
$purple: #8833ff;
$gradient: linear-gradient(90deg, #8833ff 0%, #5703cc 100%);
$dark-green: #126335;
$light-green: #e6f2ed;
$dark-red: #cc3030;
$light-red: #ffefed;
$green: #27ae60;
$red: #eb5757;
$gray-alt: #828b9f;
$orange: #F5B100;
