$default-font-size: 16px;

$default-transition-duration: 0.35s;
$default-transition-function: ease-out;

$breakpoint-3xl: 1440px;
$breakpoint-2xl: 1280px;
$breakpoint-xl: 1200px;
$breakpoint-lg: 1024px;
$breakpoint-md: 768px;
$breakpoint-sm: 640px;
$breakpoint-xs: 480px;
$breakpoint-2xs: 375px;

$indent-col-lg: 30px;
$indent-col-md: 30px;
$indent-col-sm: 20px;
$indent-col-xs: 16px;

$cols-total: 12;

$mockup-width: 1920px;
$container-width: 1320px;

$offset-side: 35px;
$offset-side-lg: 30px;
$offset-side-xs: 20px;
$offset-side-min: 5px;
